html, body { width: 100%; height: 100% padding: 0; margin: 0; }

/* Disable temporarily. */
#main_container header { /*display: none;*/ height: 1vh; overflow: hidden; }
#content_container { /*display: none;*/ height: 1vh; overflow: scroll; }
/*#main_container footer { display: none; }*/

/* Basic styles */

a { color: green; }

#main_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Footer */

#main_container header,
#main_container footer {
    flex: none;
}

#content_container {
    flex: 1 0 auto;
    width: 100%;
}

#main_container footer {
    text-align: center;
}


